<div class="tabs tabs-border">
  @for (tab of tabs(); track $index) {
  <input
    type="radio"
    class="tab"
    [id]="getTabId(tab)"
    [name]="tabsId()"
    [attr.aria-label]="tab.title"
    (change)="changeTab(tab)"
  />
  <div class="tab-content border-base-300 bg-base-100 p-3">
    @if (
    !destroyContentOnChange() ||
    destroyContentOnChange() && tab.id === selectedTab()?.id
    ) {
    <ng-container *ngTemplateOutlet="getTemplateRef(tab.id)"></ng-container>
    }
  </div>
  }
</div>